{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": 0,
    "max-len": [1, 130, 2, { "ignoreComments": true }],
    "import/no-unresolved": "off",
    "react/prop-types": 0,
    "import/prefer-default-export": "off"
  },
  "extends": ["airbnb"],
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true
  },
  "env": {
    "jest": true
  }
}
